body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 20px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #444;
    margin-top: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
}

td, th {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

img {
    border: 1px solid #aaa;
}
